@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<script type="text/template" id="rate_select_template">
  <select id="rate-selector">
    <% rates.each(function(rate) { %>
      <option value="<%= rate.get('duration') %>"><%= rate.get('duration') %></option>
    <% }); %>
  </select>
</script>

<script type="text/template" id="tier-template">
    <li class="tier-row">
      <label>Minimum</label><input type="text" class="tier-minimum" value="<%= tier.get('minimum') %>" />
      <label>Maximum</label><input type="text" class="tier-maximum"  value="<%= tier.get('maximum') %>"/>
      <label>Price</label><input type="text" class="tier-price" value="<%= tier.get('price') %>" />
      <button class="split-tier">Split</button>
      <button class="delete-tier">Delete</button>
    </li>
</script>

<script type="text/template" id="rate-editor-template">
  <div id="rate-editor">
    <h3>Edit Rates</h3>
    <ul id="tier-rows"></ul>
    <button id="done" class="done">Done</button>
  </div>
</script>

<table>
  <thead>
    <tr>
      <th>Edit</th>
      <th>Rental Class</th>
      <th>Rental Method</th>
      <th>Daily</th>
      <th>Weekly</th>
      <th>Monthly</th>
      <th>Tiers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a class="edit-link" href="#">Edit</a></td>
      <td>Bulk Tanks::Industrial</td>
      <td>Monthly</td>
      <td></td>
      <td></td>
      <td>0.50</td>
      <td></td>
    </tr>
    <tr>
      <td><a class="edit-link" href="#">Override</a></td>
      <td>Bulk Tanks::Production</td>
      <td>Weekly</td>
      <td></td>
      <td>0.75</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div id="rate-editor-container" class="hide"></div>

